@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../assets/fonts/Pretendard-Black.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../assets/fonts/Pretendard-ExtraBold.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../assets/fonts/Pretendard-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../assets/fonts/Pretendard-SemiBold.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../assets/fonts/Pretendard-Medium.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../assets/fonts/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../assets/fonts/Pretendard-Light.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../assets/fonts/Pretendard-ExtraLight.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
    font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../assets/fonts/Pretendard-Thin.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    font-family: 'Pretendard';
	color: #424141;
}

body {
    margin: 0;
    padding: 0;
}

.div-list-no-date {
	position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -18%;
    font-size: larger;
    opacity: 0.5;
}

.todo-list {
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 100px - 40px);
    position: relative;
}

.todo-list-add-btn {
	height: calc(100vh - 100px - 40px - 130px);
}

.btn {
	display: block;
	margin: 40px auto;
	border: none;
	width: 100px;
	height: 50px;
	border-radius: 15px;
	font-size: 16px;
	letter-spacing: 5px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}

.btn-save {
	background-color: #809dd2;
}

.btn-del {
	background-color: #e88e98;
}

.btn-del:disabled {
	background-color: #cecece;
	cursor: default;
}

.checkbox-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

input[type='checkbox'] {
	display: none;
}

.checkbox-icon::before {
	content:'';
	display: flex;
	align-items: center;
	margin-right: 9px;
	width: 24px;
	height: 24px;
	background-color: transparent;
	border: 1px solid #9da3a5;
	border-radius: 100%;
	box-sizing:border-box;
	position: relative;
}

.checkbox-label input:checked + .checkbox-icon::before {
	background: url(https://intranet.adef.co.kr/asset/images/ic_check.png) 
		#9da3a5 no-repeat center;
	border:none;
}